# Basic Python Practices

#### Exercise 00. Variable Declaration

Define the following variables with values of your choice:

- A variable that stores your name (text).
- A variable that stores your age (integer).
- A variable that indicates if you like programming (true or false).
- A variable that stores your average grade (decimal number).

In [ ]:
# Declare your variables here.

#Example
greeting = "Hello world"

- Create a list with your five favorite numbers and print it.

In [ ]:
favorite_numbers = [7, 13, 21, 33, 42]
print("My favorite numbers are:", favorite_numbers)

My favorite numbers are: [7, 13, 21, 33, 42]

- Create a dictionary that stores a student's information and print it:

        - Name
        - Age
        - Final grade

In [2]:
#TODO
student_info = {
    "Name": "Alice Johnson",
    "Age": 16,
    "Final Grade": "A"
}

print("Student Information:")
print(student_info)

Student Information:
{'Name': 'Alice Johnson', 'Age': 16, 'Final Grade': 'A'}

#### Exercise 01. Basic data analysis with native Python structures.  
Create a list with the grades of 5 students: [8.5, 9.2, 7.8, 8.9, 10].

- Calculate the average of the grades.

In [ ]:
# TODO

- Find the highest and lowest grade.

In [ ]:
# TODO

# Real estate data cleaning with Pandas for efficient analysis

This is a real dataset that was downloaded using web scraping techniques. The data contains records from **Fotocasa**, one of the most popular real estate websites in Spain. Please do not perform web scraping unless it is for academic purposes.

The dataset was downloaded a few years ago by Henry Navarro, and no economic benefit was obtained from it.

It contains thousands of real house listings published on the website www.fotocasa.com. Your goal is to extract as much information as possible with the data science knowledge you have acquired so far.

Let's get started!

- First, let's read and explore the dataset.

In [7]:
import pandas as pd

# Leer el archivo CSV
ds = pd.read_csv('assets/real_estate.csv', sep=';') # Este archivo CSV contiene puntos y comas en lugar de comas como separadores
ds # mostramos todo

,Unnamed: 0,id_realEstates,isNew,realEstate_name,phone_realEstate,url_inmueble,rooms,bathrooms,surface,price,...,level4Id,level5Id,level6Id,level7Id,level8Id,accuracy,latitude,longitude,zipCode,customZone
0,1,153771986,False,ferrari 57 inmobiliaria,912177526.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,3.0,2.0,103.0,195000,...,0,0,0,0,0,0,"40,2948276786438","-3,44402412135624",NaN,NaN
1,2,153867863,False,tecnocasa fuenlabrada ferrocarril,916358736.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,3.0,1.0,NaN,89000,...,0,0,0,0,0,1,"40,28674","-3,79351",NaN,NaN
2,3,153430440,False,look find boadilla,916350408.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,2.0,2.0,99.0,390000,...,0,0,0,0,0,0,"40,4115646786438","-3,90662252135624",NaN,NaN
3,4,152776331,False,tecnocasa fuenlabrada ferrocarril,916358736.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,3.0,1.0,86.0,89000,...,0,0,0,0,0,0,"40,2853785786438","-3,79508142135624",NaN,NaN
4,5,153180188,False,ferrari 57 inmobiliaria,912177526.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,2.0,2.0,106.0,172000,...,0,0,0,0,0,0,"40,2998774864376","-3,45226301356237",NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15330,15331,153901377,False,infocasa consulting,911360461.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,2.0,1.0,96.0,259470,...,0,0,0,0,0,0,"40,45416","-3,70286",NaN,NaN
15331,15332,150394373,False,inmobiliaria pulpon,912788039.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,3.0,1.0,150.0,165000,...,0,0,0,0,0,0,"40,36652","-3,48951",NaN,NaN
15332,15333,153901397,False,tecnocasa torrelodones,912780348.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,4.0,2.0,175.0,495000,...,0,0,0,0,0,0,"40,57444","-3,92124",NaN,NaN
15333,15334,152607440,False,inmobiliaria pulpon,912788039.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,3.0,2.0,101.0,195000,...,0,0,0,0,0,0,"40,36967","-3,48105",NaN,NaN
15334,15335,153901356,False,infocasa consulting,911360461.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,3.0,2.0,152.0,765000,...,0,0,0,0,0,0,"40,45773","-3,69068",NaN,NaN

- Display the first rows of the CSV file.

In [8]:
# TODO
print(ds.head())

   Unnamed: 0  id_realEstates  isNew                    realEstate_name  \
0           1       153771986  False            ferrari 57 inmobiliaria
1           2       153867863  False  tecnocasa fuenlabrada ferrocarril
2           3       153430440  False                 look find boadilla
3           4       152776331  False  tecnocasa fuenlabrada ferrocarril
4           5       153180188  False            ferrari 57 inmobiliaria

   phone_realEstate                                       url_inmueble  rooms  \
0       912177526.0  https://www.fotocasa.es/es/comprar/vivienda/ma...    3.0
1       916358736.0  https://www.fotocasa.es/es/comprar/vivienda/ma...    3.0
2       916350408.0  https://www.fotocasa.es/es/comprar/vivienda/ma...    2.0
3       916358736.0  https://www.fotocasa.es/es/comprar/vivienda/ma...    3.0
4       912177526.0  https://www.fotocasa.es/es/comprar/vivienda/ma...    2.0

   bathrooms  surface   price  ... level4Id level5Id level6Id level7Id  \
0        2.0    103.0  195000  ...        0        0        0        0
1        1.0      NaN   89000  ...        0        0        0        0
2        2.0     99.0  390000  ...        0        0        0        0
3        1.0     86.0   89000  ...        0        0        0        0
4        2.0    106.0  172000  ...        0        0        0        0

  level8Id accuracy          latitude          longitude zipCode customZone
0        0        0  40,2948276786438  -3,44402412135624     NaN        NaN
1        0        1          40,28674           -3,79351     NaN        NaN
2        0        0  40,4115646786438  -3,90662252135624     NaN        NaN
3        0        0  40,2853785786438  -3,79508142135624     NaN        NaN
4        0        0  40,2998774864376  -3,45226301356237     NaN        NaN

[5 rows x 37 columns]

Perfect, this was a small practice. Now let's begin with the real exercises!

#### Exercise 01. What is the most expensive house in the entire dataset? (★☆☆)

Print the address and price of the selected house. For example:

`The house located at Calle del Prado, Nº20 is the most expensive, and its price is 5000000 USD.`

In [9]:
# TODO
most_expensive = ds.loc[ds['Price'].idxmax()]

address = most_expensive['Address']
price = most_expensive['Price']

print(f"The house located at {address} is the most expensive, and its price is {price} USD.")

KeyError: 'Price'

#### Exercise 02. What is the cheapest house in the dataset? (★☆☆)

This exercise is similar to the previous one, except now we are looking for the house with the lowest price. Remember to print the address and price of the selected house. For example:

`The house located at Calle Alcalá, Nº58 is the cheapest, and its price is 12000 USD.`

In [6]:
# TODO
heapest = ds.loc[ds['Price'].idxmin()]

address = cheapest['Address']
price = cheapest['Price']

print(f"The house located at {address} is the cheapest, and its price is {price} USD.")

KeyError: 'Price'

#### Exercise 03. What is the largest and smallest house in the dataset? (★☆☆)

Print the address and area of the selected houses. For example:

`The largest house is located at Calle Gran Vía, Nº38, and its area is 5000 square meters.`

`The smallest house is located at Calle Mayor, Nº12, and its area is 200 square meters.`

This exercise is similar to the previous one, but we are looking for the largest and smallest houses based on their area.

In [ ]:
# TODO

largest = ds.loc[ds['Area'].idxmax()]
largest_address = largest['Address']
largest_area = largest['Area']

smallest = ds.loc[ds['Area'].idxmin()]
smallest_address = smallest['Address']
smallest_area = smallest['Area']

print(f"The largest house is located at {largest_address}, and its area is {largest_area} square meters.")
print(f"The smallest house is located at {smallest_address}, and its area is {smallest_area} square meters.")

KeyError: 'Area'

#### Exercise 04. How many unique populations are in the dataset? (★☆☆)

Count the number of unique populations in the 'level5' column and print the names of the populations separated by commas. For example:

`> print(populations)`

`population1, population2, population3, ...`

In [11]:
# TODO
populations = ds['level5'].unique()

populations_str = ", ".join(populations)

print(populations_str)

Arganda del Rey, Fuenlabrada, Boadilla del Monte, Las Rozas de Madrid,  Madrid Capital, Villaviciosa de Odón, Pinto, Valdemoro, Navalcarnero, Pozuelo de Alarcón, Torrejón de Ardoz, Navalagamella, San Sebastián de los Reyes, Rivas-vaciamadrid, Alpedrete, Móstoles, San Fernando de Henares, Coslada, Becerril de la Sierra, Alcalá de Henares, Chinchón, Parla, Alcorcón, El Escorial, Leganés, Pedrezuela, Majadahonda, Villanueva de la Cañada, Villanueva del Pardillo, Torrelodones, Moralzarzal, Mejorada del Campo, Aranjuez, Corpa, Getafe, Velilla de San Antonio, Sevilla la Nueva, San Martín de la Vega, Villalbilla, Collado Villalba, Alcobendas, El Molar (Madrid), Moraleja de Enmedio, Algete, Campo Real, Torrejón de la Calzada, Colmenar Viejo, Valdemorillo, Fuente El Saz de Jarama, Tres Cantos, Arroyomolinos (Madrid), Griñón, Paracuellos de Jarama, Guadarrama, Titulcia, Galapagar, Collado Mediano, Los Molinos, San Lorenzo de El Escorial, Loeches, San Martín de Valdeiglesias, Navas del Rey, Bustarviejo, Manzanares El Real, Carabaña, Casarrubuelos, Cercedilla, Fresnedillas de la Oliva, Valdemaqueda, Robledo de Chavela, Miraflores de la Sierra, Humanes de Madrid, Valdetorres de Jarama, San Agustín del Guadalix, Ciempozuelos, Camarma de Esteruelas, Torres de la Alameda, Talamanca de Jarama, El Atazar, Hoyo de Manzanares, El Boalo - Cerceda – Mataelpino, El Álamo, Valdilecha, Valdeolmos-Alalpardo, Guadalix de la Sierra, Belmonte de Tajo, El Vellón, Brunete, Redueña, Morata de Tajuña, Tielmes, Gargantilla del Lozoya, Meco, Venturada, Quijorna, Cenicientos, Torrejón de Velasco, Navacerrada, Santa María de la Alameda, Orusco de Tajuña, Daganzo de Arriba, Villamanta, Anchuelo, Valdaracete, Ajalvir, Los Santos de la Humosa, Villamanrique de Tajo, Colmenar de Oreja, Villa del Prado, Fuentidueña de Tajo, Colmenar del Arroyo, Valdelaguna, Cubas de la Sagra, Valdeavero, Aldea del Fresno, Ribatejada, Torrelaguna, Batres, Pezuela de las Torres, Colmenarejo, Serranillos del Valle, Cobeña, Soto del Real, El Berrueco, Villanueva de Perales, Fresno de Torote - Serracines, Pozuelo del Rey, Pelayos de la Presa, La Cabrera, Nuevo Baztán, Perales de Tajuña, Villaconejos, Villarejo de Salvanés, Cadalso de los Vidrios, Santorcaz, Madarcos, Garganta de los Montes, Puentes Viejas, Torremocha de Jarama, Valdemanco, Braojos, Lozoyuela-navas-sieteiglesias, Piñuécar-gandullas, Valdepiélagos, Valverde de Alcalá, Villar del Olmo, Villamantilla, Horcajo de la Sierra, Gascones, Zarzalejo, Villavieja del Lozoya, Brea de Tajo, Estremera, Chapinería, Navarredonda, Patones, Ambite, Navalafuente, Lozoya, Canencia, Cabanillas de la Sierra, Buitrago del Lozoya, Fresno de Torote, Robregordo, Pinilla del Valle, Rascafría, La Hiruela, Montejo de la Sierra

#### Exercise 05. Does the dataset contain null values (NAs)? (★☆☆)

Print a boolean (`True` or `False`) to check if there are null values, followed by the columns that contain NAs.

In [12]:
# TODO
has_nulls = ds.isnull().values.any()
print(has_nulls)

# Print the columns that contain null values (if any)
null_columns = ds.columns[ds.isnull().any()]
print(null_columns)

True
Index(['realEstate_name', 'phone_realEstate', 'rooms', 'bathrooms', 'surface',
       'description', 'level4', 'level6', 'level7', 'level8', 'zipCode',
       'customZone'],
      dtype='object')

#### Exercise 06. Remove the null values (NAs) from the dataset, if applicable (★★☆)

After removing the null values, compare the size of the DataFrame before and after the removal.

In [ ]:
# TODO
before_size = ds.shape[0]

ds = ds.dropna()

after_size = ds.shape[0]

print(f"Number of rows before removing nulls: {before_size}")
print(f"Number of rows after removing nulls: {after_size}")

Number of rows before removing nulls: 15335
Number of rows after removing nulls: 0

#### Exercise 07. What is the average price in the population of "Arroyomolinos (Madrid)"? (★★☆)

Print the value obtained from the 'level5' column.

In [ ]:
# TODO
arroyomolinos = ds[ds['level5'] == "Arroyomolinos (Madrid)"]

average_price = arroyomolinos['Price'].mean()

print(average_price)

KeyError: 'Price'

#### Exercise 08. Plot the histogram of prices for the population of "Arroyomolinos (Madrid)" and explain what you observe (★★☆)

Print the histogram of the prices and write a brief analysis of the plot in the Markdown cell.

In [15]:
import matplotlib.pyplot as plt

arroyomolinos = ds[ds['level5'] == "Arroyomolinos (Madrid)"]

plt.figure(figsize=(8,5))
plt.hist(arroyomolinos['Price'], bins=10, color='skyblue', edgecolor='black')
plt.title('Histogram of Prices in Arroyomolinos (Madrid)')
plt.xlabel('Price (USD)')
plt.ylabel('Number of Houses')
plt.grid(axis='y', alpha=0.75)
plt.show()

KeyError: 'Price'